

.nav-bar {
	font-size: 13px;
	font-family: arial, sans-serif;
	list-style-type: none;
	display: inline-block;
	padding-left: 15px;
	opacity: 0.75;
	color: #222;
	cursor: pointer;
}
.nav-left{
	display: inline;
	padding-left: 15px;
}
.nav-links {
	text-decoration: none;
	
}
